
@import "reset.less";
@import "variables.less";
@import "fonts.less";
@import "functions.less";

body, html {
  font-family: lato, sans-serif;
  background: @bgColor;
  cursor: default;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -550px;
  margin-top: -400px;
}